/* 左侧导航 */
.pub_mod_nav {
    position: relative;
    width: 260px;
    height: 100vh;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 15px 5px;
}
.pub_mod_nav .con_nav {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
.pub_mod_nav .con_nav.ty_gdt_fine::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 2px;
    background: #dbdbdb;
}
.pub_mod_nav .con_nav.ty_gdt_fine::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 2px;
    background: #f5f5f5;
}
.pub_mod_nav .con_nav .item_nav {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
}
.pub_mod_nav .con_nav .item_nav_left {
    width: calc(100% - 20px);
    height: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-start;
    grid-gap: 10px;
}
.pub_mod_nav .con_nav .item_nav .item_nav_icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
    padding: 2px;
}
.pub_mod_nav .con_nav .item_nav .item_nav_name {
    width: calc(100% - 24px);
    height: auto;
    line-height: 18px;
    color: #4E5969;
    font-size: 16px;
}
.pub_mod_nav .con_nav .item_nav .item_nav_more {
    position: absolute;
    right: 10px;
    top: 19px;
    width: 10px;
    height: 10px;
    object-fit: contain;
    padding: 2px;
    transform: rotateZ(90deg);
    display: none;
}
.pub_mod_nav .con_nav .item_nav.item_nav_second .item_nav_more {
    display: block;
}
.pub_mod_nav .con_nav .item_nav:hover .item_nav_name,
.pub_mod_nav .con_nav .item_nav.on .item_nav_name {
    color: #447AE7;
}
.pub_mod_nav .con_nav .item_nav.on .item_nav_more {
    transform: rotateZ(-90deg);
}
.pub_mod_nav .con_nav .list_second {
    width: 100%;
    height: auto;
}
.pub_mod_nav .con_nav .list_second .item_second {
    cursor: pointer;
    width: 100%;
    height: auto;
    line-height: 20px;
    color: #4E5969;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 15px 15px 38px;
}
.pub_mod_nav .con_nav .list_second .item_second.on {
    color: #447AE7;
    background-color: #F0F4FD;
}
.pub_mod_nav .con_nav .list_second .item_second:hover {
    color: #447AE7;
    background-color: #f9fbff;
}

/* 顶部导航条 */
.pub_mod_top {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pub_mod_top .lefttop {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}
.pub_mod_top .lefttop .icon_head_logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.pub_mod_top .lefttop .item_head_title {
    line-height: 40px;
    color: #2B2C33;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}
.pub_mod_top .lefttop .icon_btn_drawer {
    cursor: pointer;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.pub_mod_top .lefttop .icon_btn_drawer:hover {
    background-color: #F5F7FA;
}
.pub_mod_top .righttop {
    display: flex;
    align-items: center;
    grid-gap: 40px;
}
.pub_mod_top .righttop .con_search {
    position: relative;
    width: 280px;
    height: 34px;
    background-color: #FAFAFA;
    border: 1px solid #DADEE6;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 44px;
}
.pub_mod_top .righttop .con_search input {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #FAFAFA;
}
.pub_mod_top .righttop .con_search .icon_sarch {
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 9px;
    width: 16px;
    height: 16px;
    object-fit: contain;
}
.pub_mod_top .righttop .con_mes {
    position: relative;
    cursor: pointer;
    height: 80px;
    display: flex;
    align-items: center;
    grid-gap: 6px;
}
.pub_mod_top .righttop .con_mes .icon_mes {
    position: relative;
    width: 16px;
    height: 16px;
}
.pub_mod_top .righttop .con_mes .icon_mes.mes_new::after {
    content: "";
    position: absolute;
    right: -2px;
    top: -2px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #E94C4C;
}
.pub_mod_top .righttop .con_mes .icon_mes img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pub_mod_top .righttop .con_mes .item_name {
    color: #2E3033;
    font-size: 16px;
}
.pub_mod_top .righttop .con_mes .icon_more {
    width: 14px;
    height: 14px;
    object-fit: contain;
}
/* 信息弹窗 */
.pub_mod_top .mod_top_tc {
    position: absolute;
    right: 0px;
    top: 80px;
    z-index: 9999;
    width: 180px;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 5px 5px;
}
.pub_mod_top .mod_top_tc .item_user_mes {
    width: 100%;
    height: auto;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 10px 13px;
    display: flex;
    grid-gap: 6px;
}
.pub_mod_top .mod_top_tc .item_user_mes:hover {
    background-color: #F0F4FD;
}
.pub_mod_top .mod_top_tc .item_user_mes span {
    color: #2E2E33;
    font-size: 14px;
}

/* 内容区域 */
.pub_mod_content {
    width: 100%;
    height: 100%;
    background-color: #F5F5FA;
    box-sizing: border-box;
    padding: 10px 20px 20px;
}
.pub_mod_content .con_list {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}
/* 内容区域-面包屑导航条 */
.pub_mod_content .con_nav_mbx {
    width: 100%;
    height: 30px;
    color: #4E5969;
    font-size: 14px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    grid-gap: 5px;
}
.pub_mod_content .con_nav_mbx .icon_home {
    width: 14px;
    height: 14px;
    object-fit: contain;
}
.pub_mod_content .con_nav_mbx .item_mbx_nav {
    color: #4E5969;
    font-size: 16px;
}
.pub_mod_content .con_nav_mbx .item_mbx_nav.on {
    color: #000000;
}
/* 内容区域-面包屑导航条 */
.con_nav_list {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #F5F7FA;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    grid-gap: 40px;
}
.con_nav_list .item_mbx_list {
    cursor: pointer;
    height: 30px;
    line-height: 20px;
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.con_nav_list .item_mbx_list.on {
    color: #447AE7;
    font-weight: bold;
    border-bottom: 1px solid #447AE7;
}

/* 弹窗 */
.pub_pop_bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pub_mod_pop {
    overflow: hidden;
    position: relative;
    width: auto;
    height: 90%;
    background-color: #ffffff;
    border-radius: 10px;
}
.pub_mod_pop.pop_middle {
    width: 900px;
}
.pub_mod_pop.pop_large {
    width: 90%;
}
.pub_mod_pop .mod_pop_head {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #ffffff 60px, rgba(255, 255, 255, 0));
    box-sizing: border-box;
    padding: 25px 30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pub_mod_pop .mod_pop_head .item_pop_tit {
    max-width: 80%;
    line-height: 30px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pub_mod_pop .mod_pop_head .icon_close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    object-fit: contain;
    box-sizing: border-box;
    padding: 9px;
}
.pub_mod_pop .mod_pop_head .icon_close:hover {
    background-color: #f5f5f5;
}
.pub_mod_pop .mod_pop_body {
    width: 100%;
    height: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 30px 100px !important;
}
.pub_mod_pop .mod_pop_body .fill_detailed {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0 40px;
}
.pub_mod_pop .mod_pop_body .fill_detailed .item_fill {
    width: calc(50% - 20px);
    height: auto;
    /* padding: 15px 0; */
}

.pub_mod_pop .mod_pop_body .item_fill {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    grid-gap: 40px;
}
.pub_mod_pop .mod_pop_body .item_fill .item_fill_tit {
    width: 120px;
    color: #000000;
}
.pub_mod_pop .mod_pop_body .item_fill .item_fill_con {
    width: calc(100% - 160px);
    height: auto;
    line-height: 20px;
}
.list_meetingroom {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
}
.list_meetingroom .item_meetingroom {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    color: #2B2C33;
    font-size: 16px;
    display: flex;
    align-items: center;
    grid-gap: 4px;
}
.item_meetingroom input[type="radio"]:checked + span {
    color: #447AE7;
}
.item_meetingroom input[type="radio"] {
    accent-color: #447AE7;
}


.pub_mod_pop .mod_pop_body .item_fill .item_fill_con .item_int.item_int_short {
    width: 280px;
}
.pub_mod_pop .mod_pop_body .item_fill .item_fill_con .item_area {
    width: 100%;
    height: 100px;
    line-height: 40px;
    border: 1px solid #DBDFE8;
    box-sizing: border-box;
    padding: 0px 15px;
}
.line_fg {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.pub_mod_pop .mod_pop_btn {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #ffffff 20px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
}
/* 弹窗-提示 */ 
.pub_mod_pop.pop_tips {
    width: 340px;
    height: auto;
    min-height: 160px;
    background-image: linear-gradient(to bottom, #FFF2F2 0, #ffffff 70px);
    border-radius: 10px;
}
.pub_mod_pop.pop_tips .mod_pop_head {
    background: none;
    padding-right: 20px;
    padding-left: 20px;
}
.pub_mod_pop.pop_tips .mod_pop_head.item_pop_tit {
    font-size: 24px;
}
.pub_mod_pop.pop_tips .mod_pop_body {
    padding-bottom: 40px !important;
}
.pub_mod_pop.pop_tips .mod_pop_body .item_tips_text {
    width: 100%;
    height: auto;
    line-height: 24px;
    text-align: center;
    color: #2E2E33;
    font-size: 16px;
}



/* 填报 */
/* 输入框 */
.item_fill {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    grid-gap: 20px;
}
.item_fill .item_fill_tit {
    width: auto;
    line-height: 20px;
    color: #262A33;
    font-size: 16px;
    padding-top: 8px;
}
.item_fill .item_fill_con {
    width: 100%;
    height: auto;
    font-size: 16px;
}
.item_fill .item_fill_con .item_int {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border: 1px solid #DBDFE8;
    box-sizing: border-box;
    padding: 0 12px;
}
input::placeholder,
textarea::placeholder {
    color: #CED2D9;
}
.item_fill .item_fill_con .item_int.item_int_sel,
.item_fill .item_fill_con .item_int.item_int_date,
.item_fill .item_fill_con .item_int.item_int_time {
    padding-right: 36px;
    background-position: right 12px center;
    background-repeat: no-repeat;
}
.item_fill .item_fill_con .item_int.item_int_date {
    background-image: url(../images/icon_calendar.svg);
}
.item_fill .item_fill_con .item_int.item_int_time {
    background-image: url(../images/icon_time.svg);
}
.item_fill .item_fill_con .item_int.item_int_sel {
    background-image: url(../images/icon_select.svg);
}


/* 展示 */

.pub_mod_pop .mod_pop_body .view_detailed .item_fill_tit {
    height: auto;
    line-height: 24px;
    color: #848799;
    padding-top: 0;
}
.pub_mod_pop .mod_pop_body .view_detailed .item_fill_con {
    height: auto;
    line-height: 24px;
}

/* 按钮样式 */
.con_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.con_btn .item_btn {
    cursor: pointer;
    width: 76px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #5C5E66;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #E1E3E6;
    box-sizing: border-box;
}
.con_btn .item_btn.item_btn_main {
    color: #ffffff;
    background-color: #447AE7;
    border: none;
}


/* 列表按钮 */
.pub_btn {
    cursor: pointer;
    min-width: 160px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    background-color: #1422E9;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
}
.pub_btn .icon_btn {
    width: 18px;
    height: 18px;
    object-fit: contain;
}
.pub_btn.btn_change {
    display: inline-block;
    font-size: 14px;
    height: auto;
    color: #1422E9;
    background: none;
    padding: 0;
    margin-left: 25px;
}
.pub_btn.btn_change .icon_btn {
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;
}


.btn_back {
    cursor: pointer;
    min-width: 60px;
    height: 30px;
    color: #ffffff;
    font-size: 14px;
    background-color: #1422E9;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 6px;
}
.btn_back .icon_btn {
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;
}